<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>marketo_automation.case1_origination</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createcsv</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>downloadCsv</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>contactSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dataValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>orgin_export</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
