<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbfa64">  <td>20/01/29 14:55:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;case1_origination.checkAvailability()[pri:0, instance:marketo_automation.case1_origination@4b4523f8]">&gt;&gt;checkAvailability</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/29 14:55:41</td>   <td>17658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="case1_origination.login()[pri:1, instance:marketo_automation.case1_origination@4b4523f8]">login</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/29 14:55:49</td>   <td>24971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="case1_origination.contactSearch()[pri:2, instance:marketo_automation.case1_origination@4b4523f8]">contactSearch</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/29 14:56:03</td>   <td>39383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="case1_origination.createcsv()[pri:3, instance:marketo_automation.case1_origination@4b4523f8]">createcsv</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/29 14:56:15</td>   <td>50906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="case1_origination.orgin_export()[pri:4, instance:marketo_automation.case1_origination@4b4523f8]">orgin_export</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/29 14:57:15</td>   <td>111001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="case1_origination.downloadCsv()[pri:5, instance:marketo_automation.case1_origination@4b4523f8]">downloadCsv</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/29 14:58:09</td>   <td>165476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="case1_origination.dataValidation()[pri:6, instance:marketo_automation.case1_origination@4b4523f8]">dataValidation</td> 
  <td>main@1632492873</td>   <td></td> </tr>
</table>
